* { box-sizing: border-box; }

body{
  background-image: url("images/ea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  style="color: #66ff33;
  font-size: 10%;

}

.top-link {
text-decoration: none;
color:#66ff33;
}

.sub-link {
  text-decoration: none;
  color:#66ff33;
}



/* MENU */

.item {
  float: left;
   border: thin solid black;
   padding: 10px;
   width: 25%;
  background-color:  #ffffe6;
  text-decoration: underline;
  text-decoration-style:  double;
}

#menu {
  border: thin solid black;
  padding: 15px;
  color: black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem {
  border: thin solid black;
  padding: 50px;
  background-color:  #ffffe6;
}

.submenu {
  display: none;
  padding: 10px;
}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}

/* FIN MENU */

.info {
    border: thin solid black;
    padding: 50px;
    margin-top: 200px;
    color: black;
    background-color:  #ffcc99; style="color:#66ff33;"
    float: left;
    width: 85%;
}

.info2 {
  padding: 50px;
  margin-top: 200px;
  color: black;
  background-color: white;
  float: left;
  width: 85%;
}

.info3 {
  border: thin solid black;
  padding: 50px;
  margin-top: 200px;
  color: black;
  background-color: white;
  float: left;
  width: 85%;
}

.enlaces{
  border: thin solid black;
  padding: 50px;
  margin-top: 400px;
  color: black;
  background-color: black;
  float: right;
  width: 15%;
}

.columnas{
  width: 100%;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#menu, #info,	#enlaces {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-top-left-radius: 50%;}
